.signup-container,.signup-form,.signup-box{
    display: flex;
    
}

.signup-box{
    flex-direction: column;
}

.signup-form{
    flex-direction: column;
}

.signup-container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.signup-box{
    width: 30%;
    height: 35%;
    justify-content: space-around;
    padding: 12px 12px 12px 12px;
    box-shadow: .2px .2px 12px .2px whitesmoke;
}

.signup-box input{
    outline: none;
    padding: 4px 2px 4px 12px;
    border: none;
    box-shadow: .2px .2px 2px .2px lightgray;
    margin-top: 10px;
        /* font-family: "Montserrat";  */
}


.signup-box button{

    width: 10rem;
    margin-top:30px;
}

/* .signup-box input:hover{
  
} */