.dashboard-container{
    display: flex;
}

.dashboard-container{
    height: 110vh;
}

.App{
    box-shadow: .2px .2px 22px .2px rgb(232, 232, 232);

    margin-top: 10px;
    width: 92%;
    margin-left: 100px;
}